h2 {text-align: center;font-family: Times;font-style:italic ;color:green;}
.center{text-align:center}

#idstyle{font-family:'Times New Roman', Times, serif;font-style:italic;text-align: center;}
.font1 {font-family: Comic Sans MS; font-size: larger;}
.font2 {font-family: Trebuchet MS; font-size:large;}
.font3 {font-family: Trebuchet MS; font-size:large;color:#c3d8da;}
body {
  background-color: #f4f4f4;
}
.table1{
  background-color: #fff;
}
.myTable {
  background-image: url(3.png);
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}
.myTable::before {
  content: "";
  display: block;
  padding-top: 8%; /* 9/16 = 0.5625，所以设置为56.25% */
}
select {
    background-color: lightblue;
  }
  ul a {
    display: block;
    color: #32adcc;
    padding: 8px 16px;
    text-decoration: none;
   
}
ul.daohang li {
  
  text-align: right; 
}
li a:hover {
  background-color: #3e9a9e;
  color: white;
}
.daohang{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: transparent;
  position: fixed;
  top:200px;
  height: 100%;
  overflow: auto;
  
  right: 0;
}
i{
  background-color:black;
  color:black;
}
i:hover{
  background-color: #3e9a9e;
  color: white;
}
ol li{
  display:inline-block;
}
ol li form {
  display: inline-block;
}
ol a{
 

  color: #32adcc;
  padding: 16px 16px;
  text-decoration: none;
  
}
.hdaohang{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color:#333;
  margin: 0;
  height:50px;
}
.dropdown
{
  display:inline-block;
}

  .dropdown a:hover{
    background-color: #3e9a9e;
    color:aliceblue;
  }
  .dropdown-content a
  {
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
  }
  .dropdown:hover .dropdown-content
  {
    display:block;
  }
  .dropdown-content a:hover 
  {background-color:#64aad3bb ;
    color:aliceblue;
  }
  .dropdown-content
  {
    display:none;
    position:absolute;
    background-color:#adc6d6;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown:hover .dropbtn,
.dropdown-content:hover ~ .dropbtn {
    background-color: #3e9a9e;
    color: aliceblue;
}
.dropbtn
  {
    display:inline-block;
    
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
